<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TAILWIND LINK  -->
    <link
      href="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CDN GOOGLE  -->
    <!-- CDN ICONS  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
  </head>
  <body class="overflow-hidden">
    <section class="h-screen w-screen">
      <div class="container mx-auto p-0">
        <h1 class="uppercase text-center text-6xl font-bold">
          filmes mais procurados em <span class="text-red-400">2024</span>
        </h1>
        <div class="flex flex-wrap flex-1 gap-6 mt-24 xl:ml-12 " id="card-hover-movie">
          <div class="flex flex-col gap-4 border-2 p-2 w-[450px] h-auto">
            <h3 class="text-center font-bold text-4xl mt-4">
              Meninas Malvadas
            </h3>
            <img
              src="/components/public/bestMovies-img/womans-villans.jpg"
              alt=""
            />
            <div>
              <span class="text-xl font-bold">Sinopse:</span>
              <p>
                Mean Girls é um filme americano de 2004 dirigido por Mark Waters
                e escrito por Tina Fey. A atriz americana Lindsay Lohan é a
                protagonista e interpreta Cady, uma garota ingênua que retornou
                à América após ter morado por 12 anos na África e que vai à
                escola pela primeira vez aos dezesseis anos após receber ensino
                domiciliar por anos.
              </p>

              <button class="bg-slate-700 p-4 w-1/4 rounded-lg text-white mt-8">
                More
              </button>
            </div>
          </div>
          <div class="flex flex-col gap-4 border-2 p-2 w-[450px] h-auto">
            <h3 class="text-center font-bold text-4xl mt-4">
              Meninas Malvadas
            </h3>
            <img
              src="/components/public/bestMovies-img/womans-villans.jpg"
              alt=""
            />
            <div>
              <span class="text-xl font-bold">Sinopse:</span>
              <p>
                Mean Girls é um filme americano de 2004 dirigido por Mark Waters
                e escrito por Tina Fey. A atriz americana Lindsay Lohan é a
                protagonista e interpreta Cady, uma garota ingênua que retornou
                à América após ter morado por 12 anos na África e que vai à
                escola pela primeira vez aos dezesseis anos após receber ensino
                domiciliar por anos.
              </p>

              <button class="bg-slate-700 p-4 w-1/4 rounded-lg text-white mt-8">
                More
              </button>
            </div>
          </div>
          <div class="flex flex-col gap-4 border-2 p-2 w-[450px] h-auto">
            <h3 class="text-center font-bold text-4xl mt-4">
              Meninas Malvadas
            </h3>
            <img
              src="/components/public/bestMovies-img/womans-villans.jpg"
              alt=""
            />
            <div>
              <span class="text-xl font-bold">Sinopse:</span>
              <p>
                Mean Girls é um filme americano de 2004 dirigido por Mark Waters
                e escrito por Tina Fey. A atriz americana Lindsay Lohan é a
                protagonista e interpreta Cady, uma garota ingênua que retornou
                à América após ter morado por 12 anos na África e que vai à
                escola pela primeira vez aos dezesseis anos após receber ensino
                domiciliar por anos.
              </p>

              <button class="bg-slate-700 p-4 w-1/4 rounded-lg text-white mt-8">
                More
              </button>
            </div>
          </div>
          <div class="flex flex-col gap-4 border-2 p-2 w-[450px] h-auto">
            <h3 class="text-center font-bold text-2xl mt-4">
              Meninas Malvadas
            </h3>
            <img
              src="/components/public/bestMovies-img/womans-villans.jpg"
              alt=""
            />
            <div>
              <span class="text-xl font-bold">Sinopse:</span>
              <p>
                Mean Girls é um filme americano de 2004 dirigido por Mark Waters
                e escrito por Tina Fey. A atriz americana Lindsay Lohan é a
                protagonista e interpreta Cady, uma garota ingênua que retornou
                à América após ter morado por 12 anos na África e que vai à
                escola pela primeira vez aos dezesseis anos após receber ensino
                domiciliar por anos.
              </p>

              <button class="bg-slate-700 p-4 w-1/4 rounded-lg text-white mt-8">
                More
              </button>
            </div>
          </div>

          <div class="flex flex-col gap-4 border-2 p-2 w-[450px] h-auto">
            <h3 class="text-center font-bold text-2xl mt-4">
              Meninas Malvadas
            </h3>
            <img
              src="/components/public/bestMovies-img/womans-villans.jpg"
              alt=""
            />
            <div>
              <span class="text-xl font-bold">Sinopse:</span>
              <p>
                Mean Girls é um filme americano de 2004 dirigido por Mark Waters
                e escrito por Tina Fey. A atriz americana Lindsay Lohan é a
                protagonista e interpreta Cady, uma garota ingênua que retornou
                à América após ter morado por 12 anos na África e que vai à
                escola pela primeira vez aos dezesseis anos após receber ensino
                domiciliar por anos.
              </p>

              <button class="bg-slate-700 p-4 w-1/4 rounded-lg text-white mt-8">
                More
              </button>
            </div>
          </div>

          <div class="flex flex-col gap-4 border-2 p-2 w-[450px] h-auto">
            <h3 class="text-center font-bold text-2xl mt-4">
              Meninas Malvadas
            </h3>
            <img
              src="/components/public/bestMovies-img/womans-villans.jpg"
              alt=""
            />
            <div>
              <span class="text-xl font-bold">Sinopse:</span>
              <p>
                Mean Girls é um filme americano de 2004 dirigido por Mark Waters
                e escrito por Tina Fey. A atriz americana Lindsay Lohan é a
                protagonista e interpreta Cady, uma garota ingênua que retornou
                à América após ter morado por 12 anos na África e que vai à
                escola pela primeira vez aos dezesseis anos após receber ensino
                domiciliar por anos.
              </p>

              <button class="bg-slate-700 p-4 w-1/4 rounded-lg text-white mt-8">
                More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
