<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TAILWIND LINK  -->
    <link
      href="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.css"
      rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/components/style/movie.css">
    

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body class="overflow-hidden">
    <section class="h-screen w-screen bg-no-repeat bg-center bg-cover flex justify-center" id="moreMovie">
      <div class="container mx-auto p-0 flex justify-around items-center">
        <div class="flex flex-col gap-12 p-2 justify-start">
          <h1 class="font-bold text-6xl tracking-wider text-white xl:text-left lg:text-left text-center">Filmes +</h1>
          <p class='xl:w-1/2 lg:w-1/2 text-xl xl:text-left lg:text-left text-center tracking-widest text-white'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod esse
            error beatae dignissimos libero? Excepturi repellendus eveniet
            mollitia neque assumenda culpa quod laboriosam. Odit nemo commodi,
            neque obcaecati laborum dicta!
          </p>
          <div class="flex xl:justify-start justify-center">
            <button class="flex rounded-lg pl-2 h-12 font-bold text-xl hover:bg-gray-950 items-center text-white hover:text-red-700 w-[200px] xl:justify-start ">
              <a
                href="../movie/movie.html"
                target="_blank"
                class="text-center flex items-center "
                >Pagina filmes
                <i class="bi bi-arrow-right-square-fill ml-4"></i>
              </a>
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
