<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- TAILWIND LINK  -->
    <link
      href="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CDN GOOGLE  -->
    <!-- CDN ICONS  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
</head>
<body class="overflow-x-hidden">
    <section class="flex h-screen w-screen mt-4 mx-auto">
        <div class="mx-auto flex items-center justify-center w-full xl:border-t-2 ">
            <div class="hidden xl:block">
                <div>
                  <img class="absolute top-[-7rem] left-0" src="/components/public/index_img/hooks-img/cabide-removebg-preview.png" alt="">
                </div>
                <div>
                  <img class="absolute top-[-7rem] right-0" src="/components/public/index_img/hooks-img/cabide-removebg-preview.png" alt="">
                </div>
            </div>

          <div class="card-box flex justify-center items-center w-full mt-4">
            <div class="flex xl:flex-row lg:flex-row flex-col gap-6">
              <div class="card p-6 border-2 max-w-md max-h-max">
                <span class="flex items-center gap-4 border-2 p-4 mb-12">
                  <span class="material-icons-outlined text-4xl">movie</span>
                  <h1 class="text-2xl">Movie</h1>
                </span>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  voluptate quasi officiis beatae mollitia optio eveniet
                  perferendis blanditiis. Deserunt hic alias beatae dolor! Error
                  quaerat saepe atque maiores doloribus impedit!
                </p>
              </div>
              <div class="card p-6 border-2 max-w-md max-h-max ">
                <span class="flex items-center gap-4 border-2 p-4 mb-12">
                  <span class="material-icons-outlined text-4xl">movie</span>
                  <h1 class="text-2xl">Movie</h1>
                </span>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  voluptate quasi officiis beatae mollitia optio eveniet
                  perferendis blanditiis. Deserunt hic alias beatae dolor! Error
                  quaerat saepe atque maiores doloribus impedit!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
