<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filmes</title>

    <!-- LINK CSS  -->
    <link rel="stylesheet" href="./style/global.css" />
    <link rel="stylesheet" href="./style/style.css" />

    <!-- TAILWIND LINK  -->
    <link
      href="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.css"
      rel="stylesheet" />

    <!-- ICON  -->
    <link rel="icon" type="image/svg" href="/logo.svg" />

    <!-- CDN GOOGLE  -->
    <!-- CDN ICONS  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

    
  </head>
  <body class="overflow-x-hidden">
    <header
      class="header fixed top-0 left-0 w-full h-auto z-50 transition-all ease-in-out delay-50">
      <div class="flex justify-between items-center mt-4">
        <img class="xl:w-1/12 w-[150px]" src="/logo.svg" alt="Logo" />

        <nav class="mr-8 xl:block lg:block hidden text-white">
          <ul class="gap-6 flex text-xl font-bold mr-8">
            <li><a href="#hero">Home</a></li>
            <li><a href="#movie">Sobre</a></li>
            <li>
              <a
                href="./pages/movie/movie.html"
                class="p-2 border-2 border-yellow-300"
                >Filmes</a
              >
            </li>
          </ul>
        </nav>
        <div class="block xl:hidden lg:hidden mr-8">
          <button id="menu-toggle">
            <i class="bi bi-list text-black text-3xl"></i>
          </button>
        </div>
      </div>
      <div class="hidden menu-mobile bg-sky-200 p-4 justify-end">
        <ul class="gap-6 flex flex-col text-xl text-center font-bold mr-8">
          <li><a href="#hero">Home</a></li>
          <li><a href="#movie">Sobre</a></li>
          <li>
            <a
              href="./pages/movie/movie.html"
              class="p-2 border-2 border-yellow-300"
              >Filmes</a
            >
          </li>
        </ul>
      </div>
    </header>

    <main>
      <section
        class="hero h-screen w-screen bg-no-repeat bg-cover bg-center"
        id="hero">
        <div class="flex items-center justify-start mt-20">
          <div class="container flex flex-col gap-6 xl:mt-16 mx-auto">
            <h1
              class="font-bold xl:text-6xl lg:text-5xl text-4xl xl:text-left text-center uppercase tracking-widest lg:w-8/12 xl:text-black text-slate-700">
              Os melhores filmes <span class="text-teal-500">aqui</span>
            </h1>
            <p
              class="text-xl font-light xl:w-2/4 lg:w-2/4 text-center xl:text-left xl:text-black xl:mt-0 mt-14">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse
              tempora at eaque ipsam quaerat porro rem maxime consequuntur dolor
              totam labore, unde quisquam corrupti quasi fugit similique quo
              cupiditate tempore!
            </p>

            <div
              class="btn-box-nav flex gap-6 text-xl mr-4 xl:mt-6 mt-16 xl:justify-start justify-center">
              <a href="./pages/loginAndRegister/index.html#login-form">
                <button
                  class="bg-teal-500 w-36 p-2 hover:bg-red-600 transform hover:scale-110 shadow-2xl text-white font-bold rounded-sm"
                  id="login-btn">
                  Login
                </button>
              </a>

              <a href="./pages/loginAndRegister/index.html#register-body">
                <button
                  class="bg-violet-950 w-36 p-2 text-white hover:bg-yellow-400 font-bold transform shadow-lg hover:scale-110 hover:text-white hover:border-none rounded-sm"
                  id="regis-btn">
                  Register
                </button>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section
        class="h-[310vh] xl:h-[120vh] lg:h-[120vh] w-screen bg-no-repeat bg-center bg-cover mt-32"
        id="about">
        <iframe
          src="./pages/about/about.html"
          width="100%"
          height="100%"></iframe>
      </section>

      <section
        class="h-[200vh] w-screen overflow-y-hidden mx-auto bg-center bg-cover bg-no-repeat"
        id="about-plus">
        <iframe
          src="./pages/about/about-plus.html"
          width="100%"
          height="100%"></iframe>
      </section>

      <section class="w-screen mx-auto " id="movieMore">
        <iframe
          class="w-screen h-[70vh]"
          src="./pages/bestMovies/bestMovies.html"
          width="100%"
          height="100%"></iframe>
      </section>

      <button
        id="btnScrollToTop"
        class="fixed bottom-8 right-8 bg-blue-500 hover:bg-blue-600 text-white px-3 py-2 rounded-full shadow">
        <i class="bi bi-arrow-up-circle text-2xl"></i>
      </button>
    </main>

    <footer class="xl:h-[250px] lg:h-[250px] h-[58vh] mx-auto mt-[20rem]">
      <iframe
        src="./pages/footer/footer.html"
        width="100%"
        height="100%"></iframe>
    </footer>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./jss/hooks/hmbResponsive.js"></script>
    <script src="./jss/hooks/button.js"></script>
    <script src="./jss/header/script.js"></script>
  </body>
</html>
