@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-white: #fff;
    --text-black: #000;
    --text-gray: #666;
    --text-gray-dark: #333;
    --text-gray-light: #999;
    --text-gray-lighter: #ccc;
    --text-gray-lightest: #eee;

    --bg-white: #fff;
    --bg-black: #000;
    --bg-gray: #eee;
    --bg-gray-dark: #ccc;
    --bg-gray-light: #999;
    --bg-gray-lighter: #666;
    --bg-gray-lightest: #333;

}



body::-webkit-scrollbar {
    width: 12px;
    
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    
}

body::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 6px;
    
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

body::-webkit-scrollbar-thumb:vertical {
    transition: opacity 0.5s;
    animation: scroll 2s infinite alternate;

}

section {
    padding: 9% 0 10rem;
    
}

input[text], input[password] {
    transition: all 0.5s linear ; 
}

header.scroll {
    transition: all .5s ease-in ;
}

input.invalid {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid red;
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid yellow;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}