.hero {
    background-image: url('../public/index_img/back.jpg');
}

header.sticky {
    background: #ccccff;
    color:  azure;
}

.box-img {
    position: relative;
    left: -15rem;
}

.img-hero {
    width: auto;
    height: 450px;

}

#about {
    background-image: url('../public/about-img/shape-wavy02.jpg');
}

#about-plus {
    background-image: url('../public/about-img/wavyshape.jpg');
}

#moreMovie {
    background-image: url('../public/bestMovies-img/bg-03.png');
}

/* HOOKS  */

.show {
    opacity: 1;
    pointer-events: auto;
}

.open {
    display: block;
}

