.hero {
    background-image: url('../public/index_img/back.jpg');
}

header.sticky {
    background: yellow;
    color:  azure;
}

.box-img {
    position: relative;
    left: -15rem;
}

.img-hero {
    width: auto;
    height: 450px;

}


/* HOOKS  */

.show {
    opacity: 1;
    pointer-events: auto;
}

.open {
    display: block;
}